<!--Ayat i updated html and css here-->
<!DOCTYPE html>
<html lang="en">

<head>
    <%-include("./partials/head.ejs")%>
    <link rel="stylesheet" href="/stylesheets/assessmentTypes.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <%-include("./partials/nav.ejs")%>
        <div class="container-fluid row">
            <div class="col-md-8">
                <h2><%= courseCode %>: <%= courseName %> - Section <%= section %></h2>
            </div>
            <div class="col-md-2">
                <h3>Term: <%= term %></h3>
            </div>
        </div>
        <hr class="divider">
        <div class="container button-container">
            <!--Button links will be changed to other pages when done-->

            <!--instructor model and routes and controller..-->
            <form method="post" action="/assign-grades/<%= courseCode %>/<%= term %>/<%= section %>">
                <input type="hidden" name="courseName" value="<%= courseName %>">
                <button class="custom-button">Direct CLO Assessment</button>
            </form>
            <form method="post" action="/indirect/<%= courseCode %>/<%= term %>/<%= section %>">
                <button class="custom-button" type="submit">Indirect CLO Assessment</button>
            </form>
           
            <button class="custom-button">Prepare Report</button>
        </div>
    <%- include('./partials/footer.ejs')%>
</body>

</html>