<!--assessment section..-->

<!DOCTYPE html>
<html lang="en">

<head>
    <%-include("./partials/head.ejs")%>
    <link rel="stylesheet" href="/stylesheets/assessmentTypes.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <%-include("./partials/nav.ejs")%>
        <div class="container-fluid row">
            <div class="col-md-8">
                <!--Data needs to be retrieved here dynamically; figure out later-->
                <h2><%= courseCode %>: <%= courseName %> - Section <%= section %></h2>
            </div>
            <div class="col-md-2">
                <!--Current term needs to be retrieved here dynamically-->                           

                <h3>Term: <%= term %></h3>
            </div>
        </div>
        <div class="button-container">
            <!-- Button links will be changed to other pages when done -->
        
            <!-- Instructor model and routes and controller.. -->
            <div class="row">
                <button class="custom-button" onclick="showButtons()">Direct CLO Assessment</button>
                <div id="buttonContainer" class="d-none">
                    <form method="post" action="/assign-grades/<%= courseCode %>/<%= term %>/<%= section %>">
                        <input type="hidden" name="courseName" value="<%= courseName %>">
                        <button class="custom-button">Input Grades</button>
                    </form>
                    <form method="get" action="/directAssessmentResults/<%= courseCode %>/<%= term %>/<%= section %>">
                        <input type="hidden" name="courseName" value="<%= courseName %>">
                        <button class="custom-button">View Student Achievements Per CLO</button>
                    </form>
                </div>
            </div>
        
            <div class="row">
                <form method="post" action="/indirect/<%= courseCode %>/<%= term %>/<%= section %>">
                    <input type="hidden" name="courseName" value="<%= courseName %>">
                    <button class="custom-button">Indirect CLO Assessment</button>
                </form>
            </div>
            
            <div class="row">
                <form method="get" action="/edit-section-report/<%=courseCode %>/<%= term %>/<%= section %>">
                    <button class="custom-button">Prepare Report</button>
                </form>
              
            </div>
        </div>
        <script>
            function showButtons() {
                var buttonContainer = document.getElementById('buttonContainer');
                        buttonContainer.classList.toggle('d-none');
            }
        </script>

</body>

</html>