<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="../stylesheets/style.css">
  <title>Faculty List</title>
</head>
<body>

 
    <div class="container">
        <h1 style="background-color: #15416e; height: 5rem;color: white; padding: 20px; font-family: Arial, Helvetica, sans-serif; font-size: 25px;">
          <%= college %>  Faculty Members</h1>
          <form method="post" action="/save-roles/<%= semester %>">
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">Faculty Name</th>
                  <th scope="col">Username</th>
                  <th scope="col">Roles</th>
                  <th scope="col">Course</th>
                </tr>
              </thead>
              <tbody>
                <% names.forEach(function(faculty) { %>
                <tr>
                  <td class="col"><%= faculty.fullName %></td>
                  <td class="col"><%= faculty.username %></td>
                  <td class="col">
                    <label>
                      <input type="checkbox" name="username" value="<%= faculty.username %>"> Coordinator
                    </label>
                  </td>
                  <td class="col">
                    <select name="course" class="form-select" disabled>
                      <option value="" selected disabled>Assign Course</option>
                      <% courses.forEach(course => { %>
                      <option value="<%= course.courseCode %>"><%= course.courseCode %></option>
                      <% }); %>
                    </select>
             
                  </td>
                </tr>
                <% }); %>
              </tbody>
            </table>
            <div id="errorText">

            </div>
            <button id="submitButton" type="submit" class="btn btn-primary" style="background-color: #15416e;">Save Roles</button>
          </form>
      </div>
      </body>
</html>
<script>
  // Get all the checkbox and dropdown list elements
  const coordinatorCheckboxes = document.querySelectorAll('[name="username"]');
  const courseDropdowns = document.querySelectorAll('[name="course"]');

  // Loop through each checkbox and add event listeners
  coordinatorCheckboxes.forEach(function (checkbox, index) {
    const courseDropdown = courseDropdowns[index];
    const defaultOption = courseDropdown.value;

    // Add an event listener to the checkbox
    checkbox.addEventListener('change', function () {
      // Check if the checkbox is checked
      if (checkbox.checked) {
        // Enable the corresponding dropdown list
        courseDropdown.disabled = false;
      } else {
        // Disable the corresponding dropdown list
        courseDropdown.disabled = true;
        courseDropdown.value = defaultOption;
      }
    });
  });
//---------------------------------------------------------------------------------------------------------
  function handleCourseChange(event) {
    const select = event.target;
    const selectedCourse = select.value;
    const otherSelects = document.querySelectorAll('select[name="course"]:not([value=""])');

    for (let i = 0; i < otherSelects.length; i++) {
      const otherSelect = otherSelects[i];

      if (otherSelect !== select && otherSelect.value === selectedCourse) {
        otherSelect.value = ""; // Reset the other select if the same course is selected
      }
    }
  }

  const courseSelects = document.querySelectorAll('select[name="course"]');
  for (let i = 0; i < courseSelects.length; i++) {
    const select = courseSelects[i];
    select.addEventListener('change', handleCourseChange);
  }
</script>
