<!--ayat i made changed here a lot-->
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
        <link rel="stylesheet" href="/stylesheets/directResults.css">
</head>

<body>
    <%- include('./partials/nav.ejs')%>
        <div class="row">
            <div class="col-md-8">
                <h2>
                    <%= courseCode %>: <%= courseName %> - Section <%= section %>
                </h2>
                <h3>Direct Assessment: Results</h3>
            </div>
            <div class="col-md-4">
                <h2 style=" margin-left: 20%;">Term: <%= term %>
                </h2>
            </div>
        </div>
        <hr class="divider">

        <!--student table-->
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h4>Student Achievements Per CLO:</h4>
                </div>
                <div class="col-md-4">
                    <div class="dropdown">
                        <button type="button" class="btn filter custom-button dropdown-toggle"
                            data-bs-toggle="dropdown">
                            Filter by Department
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item"
                                    href="/directAssessmentResults/<%= courseCode %>/<%= term %>/<%= section %>/All">All</a>
                            </li>
                            <% departments.forEach(department=> { %>
                                <li><a class="dropdown-item"
                                        href="/directAssessmentResults/<%= courseCode %>/<%= term %>/<%= section %>/<%= department %>">
                                        <%= department %>
                                    </a></li>
                                <% }); %>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- currently in course instructor controller, route for course instructor, ci model too.-->
            <% if (canAccess || userRoles.includes('QA')) { %>
            <form action="/submit-students/<%= courseCode %>/<%= term %>/<%= section %>" method="post">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="headings">Student ID</th>
                            <th class="headings">Full Name</th>
                            <% CLOnumbers.forEach(clonumber=> { %>
                                <th class="headings">CLO <%= clonumber %>
                                </th>
                                <% }); %>
                        </tr>
                    </thead>
                    <tbody>
                        <% studentInfo.filter(student=> studentTotal.some(result => result.studentID ===
                            student.studentID)).forEach(student => { %>
                            <tr>
                                <td>
                                    <%= student.studentID %>
                                </td>
                                <td>
                                    <%= student.firstName %>
                                        <%= student.lastName %>
                                </td>
                                <% CLOnumbers.forEach(clonumber=> { %>
                                    <td class="achievement">
                                        <% const cloResult=studentTotal.find(result=> result.studentID ===
                                            student.studentID && result.CLONumber === clonumber); %>
                                            <%= cloResult ? (cloResult.averageCloAchievement * 100).toFixed(2) + '%'
                                                : '0.00 %' %>

                                                <!-- Hidden input fields for student ID, CLO number, and CLO percentage -->
                                                <input type="hidden" name="studentID" value="<%= student.studentID %>">
                                                <input type="hidden" name="cloNumbers" value="<%= clonumber %>">
                                                <input type="hidden" name="cloPercentages"
                                                    value="<%= cloResult ? (cloResult.averageCloAchievement * 100).toFixed(2) : '0.00' %>">
                                    </td>
                                    <% }); %>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
                <% if (condition && canAccess) {%>
                    <div class="button-container">
                        <button class="btn custom-button save" type="submit">Submit Student Results</button>
                    </form>
                        <form method="post" action="/indirect/<%= courseCode %>/<%= term %>/<%= section %>">
                        <button class="btn custom-button save">Go to Indirect Assessment</button>
                        </form>
                    </div>
                    
                
                <% } %>
            
        </div>

      

    </div>
    
    </div>

    <% } %>
          
    

</body>