<!--Ayat i updated html and css here-->
<!DOCTYPE html>
<html lang="en">

<head>
    <%-include("./partials/head.ejs")%>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="/stylesheets/directAssessment.css">
</head>

<body>
    <%-include("./partials/nav.ejs")%>
        <div class="row container-fluid">
            <div class="col-md-8">
                <h2>
                    <%= courseCode %>: <%= courseName %> - Section <%= section %>
                </h2>
            </div>
            <div class="col-md-4">
                <h3>Term: <%= term %>
                </h3>
            </div>
        </div>
        <hr class="divider">
        <h3>Direct Assessment: Input Grades</h3>
        <ul class="nav nav-tabs" id="activityTabs" role="tablist">
            <% if (activities && activities.length> 0) { %>
                <% activities.forEach((activity, index)=> { %>
                    <li class="nav-item">
                        <a class="nav-link <%= index === 0 ? 'active' : '' %>" id="tab<%= index %>-tab"
                            data-bs-toggle="tab" href="#pane<%= index %>" role="tab" aria-controls="pane<%= index %>"
                            aria-selected="<%= index === 0 ? 'true' : 'false' %>">
                            <%= activity %>
                        </a>
                    </li>
                    <% }); %>
                        <% } else { %>
                            <li class="nav-item">
                                <p>No activities have been set for this course. <br>Please inform the course
                                    coordinator.</p>
                            </li>
                            <% } %>
        </ul>

        <div class="tab-content" id="activityTabContent">
            <% if (activities && activities.length > 0) { %>
                <% activities.forEach((activity, index) => { %>
                    <div class="tab-pane fade <%= index === 0 ? 'show active' : '' %>" id="pane<%= index %>" role="tabpanel" aria-labelledby="tab<%= index %>-tab">
                        <form action="/saveStudentGrades/<%= courseCode %>/<%= term %>/<%= section %>" method="POST">
                            <table class="table table-bordered" id="activityTable">
                                <thead>
                                    <tr>
                                        <th style="border: none;" class="headings">ID</th>
                                        <th class="headings">Student Name</th>
                                        <th class="headings">Question Grade</th>
                                        <th style="border: none;" class="headings">CLO Achievement Per Question</th>
                                    </tr>
                                </thead>
                                <tbody id="insertionPoint">
                                    <% assessmentDetails.forEach((question, index)=> { %>
                                        <% if (question.type===activity) { %>
                                            <tr>
                                                <th colspan="4" style="border: none;">Question <%= question.assessmentNumber %>: CLO <%= question.CLONumber %></th>
                                            </tr>
                                            <% students.forEach(student=> { %>
                                                <tr>
                                                    <td><%= student.studentID %></td>
                                                    <td><%= student.firstName %> <%= student.lastName %></td>
                                                    <% if(studentGrades && studentGrades.length > 0){ %>
                                                        <% const matchingGrade = studentGrades.find(grade => grade.studentID === student.studentID && grade.type === activity && grade.assessmentNumber === question.assessmentNumber); %>
                                                        <td>
                                                            <input type="text" name="grade" class="form-control gradeInput"
                                                                value="<%= matchingGrade ? matchingGrade.studentGrade : '' %>"
                                                                onchange="updateAchievement(this, <%= question.grade %>, '<%= student.studentID %>', <%= index %>)"
                                                                data-student-id="<%= student.studentID %>">
                                                        </td>
                                                        <td id="achievement_<%= index %>_<%= student.studentID %>" class="achievement">
                                                            <%= matchingGrade ? matchingGrade.CLOAchievmentPerQuestion + '%' : '' %>
                                                        </td>
                                                    <% } else { %>
                                                        <td>
                                                            <input type="text" name="grade" class="form-control gradeInput"
                                                                onchange="updateAchievement(this, <%= question.grade %>, '<%= student.studentID %>', <%= index %>)"
                                                                data-student-id="<%= student.studentID %>">
                                                        </td>
                                                        <td id="achievement_<%= index %>_<%= student.studentID %>" class="achievement"></td>
                                                    <% } %>
                                                </tr>
                                                <input type="hidden" name="studentID" id="sid_<%= index %>_<%= student.studentID %>" value="<%= student.studentID %>">
                                                <input type="hidden" name="assessmentNumber" id="an_<%= index %>_<%= student.studentID %>" value="<%= question.assessmentNumber %>">
                                                <input type="hidden" name="activity" id="act_<%= index %>_<%= student.studentID %>" value="<%= activity %>">
                                                <div id="errorText_<%= index %>" class="error"></div>
                                            <% }) %>
                                        <% } %>
                                    <% }) %>
                                </tbody>
                            </table>                            
                            <div style="display: flex; justify-content: flex-end; margin-top: 1rem;">
                                <div class="button-container">
                                    <div id="errorText_<%= index %>"></div>
                                    <button type="submit" id="saveButton_<%= index %>"
                                        class="btn custom-button">Save</button>

                                    <button id="inputGradesButton" class="btn custom-button" disabled>Calculate Overall
                                        CLO Achievement</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <% }); %>
                        <% } %>
        </div>



        <%- include('./partials/footer.ejs')%>
</body>

<script>
    function updateAchievement(inputElement, questionGrade, studentID, tabIndex) {
        const inputValue = parseFloat(inputElement.value);
        const achievementElement = document.getElementById(`achievement_${tabIndex}_${studentID}`);
        const saveButton = document.getElementById(`saveButton_${tabIndex}`);*/

        const tableRow = inputElement.closest('tr'); 
        const inputValue = parseFloat(inputElement.value);
        const achievementElement = tableRow.querySelector('.achievement'); 
        const saveButton = tableRow.closest('.tab-pane').querySelector('.save-button'); 

}


    if (isNaN(inputValue) || inputValue < 0 || inputValue > questionGrade) {
        document.getElementById(`errorText_${tabIndex}`).innerText = "Grade should be a positive number and less than or equal to the question grade!";
        saveButton.disabled = true;
        achievementElement.innerText = ""; // Clear the achievement if the input is invalid
    } else {
        // Clear the error message, enable the save button, and update the achievement
        document.getElementById(`errorText_${tabIndex}`).innerText = "";
        saveButton.disabled = false;
        const calculatedAchievement = (inputValue / questionGrade * 100).toFixed(2);
        achievementElement.innerText = calculatedAchievement + "%";
    }
</script>



</html>