<h1>Select a course</h1>
<% courses.forEach(course => { %>
  <form action="/display-course/<%= course.code %>/223" method="get">
    <input type="radio" name="courseCode" value="<%= course.code %>">
    <label for="<%= course.code %>"><%= course.code %></label>
    <button type="submit">Next</button>
  </form>
<% }); %>

<form action="/edit-section-report/<%= name %>/223/1" method="get">
  <button type="submit">edit section report</button>
</form>

<form action="/view-section-report/<%= name %>/223/1" method="get"> <!--btw.. name and 223 and 1 r just values im making up for coursecode, semester, and section-->
  <button type="submit">view section report</button>
</form>


<form action = "/getAssessmentTypes/<%= name %>/223" method="get">
  <button type = "submit">get direct assessment types</button>
</form>
<% // temporary for the functionality only  %>
